<?xml version="1.0"?>
<!-- 
/**
* @category   Webo2
* @package    Speedextrack
* @author     Mits Xourikis
* @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
*/
-->
<config>
    <modules>
        <Webo2_Speedextrack>
            <version>0.1.0</version>
        </Webo2_Speedextrack>
    </modules>
    <frontend>
        <routers>
            <speedextrack>
                <use>standard</use>
                <args>
                    <module>Webo2_Speedextrack</module>
                    <frontName>speedextrack</frontName>
                </args>
            </speedextrack>
        </routers>
        <layout>
            <updates>
                <speedextrack>
                    <file>speedextrack.xml</file>
                </speedextrack>
            </updates>
        </layout>
         <events>
            <sales_order_save_after>
                <observers>
                    <speedextrack_link>
                        <type>singleton</type>
                        <class>speedextrack/observer</class>
                        <method>addlinkFront</method>
                    </speedextrack_link>
                </observers>
            </sales_order_save_after>
            <checkout_type_multishipping_create_orders_single>
                <observers>
                    <speedextrack_multishiplink>
                        <type>singleton</type>
                        <class>speedextrack/observer</class>
                        <method>addmultishipLink</method>
                    </speedextrack_multishiplink>
                </observers>
            </checkout_type_multishipping_create_orders_single>

        </events>
		 <translate>
            <modules>
                <Webo2_Speedextrack>
                    <files>
                        <default>Webo2_Speedextrack.csv</default>
                    </files>
                </Webo2_Speedextrack>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <speedextrack>
                <use>admin</use>
                <args>
                    <module>Webo2_Speedextrack</module>
                    <frontName>speedextrack</frontName>
                </args>
            </speedextrack>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Webo2_Speedextrack>
                            <title>Speedex Tracking</title>
                            <sort_order>10</sort_order>
                        </Webo2_Speedextrack>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <speedextrack>
                                            <title>Speedex Tracking</title>
                                        </speedextrack>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <speedextrack>
                    <file>speedextrack.xml</file>
                </speedextrack>
            </updates>
        </layout>
        <events>
            <admin_system_config_changed_section_speedextrack>
                <observers>
                    <speedextrack_status>
                        <type>model</type>
                        <class>speedextrack/observer</class>
                        <method>checkstatus</method>
                    </speedextrack_status>
                </observers>
            </admin_system_config_changed_section_speedextrack>
            <sales_order_save_after>
                <observers>
                    <speedextrack_link>
                        <type>singleton</type>
                        <class>speedextrack/observer</class>
                        <method>addlinkAdmin</method>
                    </speedextrack_link>
                </observers>
            </sales_order_save_after>
        </events>
    </adminhtml>   
    <global>
        <models>
            <speedextrack>
                <class>Webo2_Speedextrack_Model</class>
                <resourceModel>speedextrack_mysql4</resourceModel>
            </speedextrack>
            <speedextrack_mysql4>
                <class>Webo2_Speedextrack_Model_Mysql4</class>
                <entities>
                    <speedextrack>
                        <table>speedextrack</table>
                    </speedextrack>
                </entities>
            </speedextrack_mysql4>
        </models>
        <resources>
            <speedextrack_setup>
                <setup>
                    <module>Webo2_Speedextrack</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </speedextrack_setup>
            <speedextrack_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </speedextrack_write>
            <speedextrack_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </speedextrack_read>
        </resources>
        
       
        <blocks>
            <speedextrack>
                <class>Webo2_Speedextrack_Block</class>
            </speedextrack>
        </blocks>
        <helpers>
            <speedextrack>
                <class>Webo2_Speedextrack_Helper</class>
            </speedextrack>
        </helpers>
    </global>
</config>